@model Domain.Models.Poll

<h2><u>Create a New Poll</u></h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Option1Text">Option 1</label>
        <input asp-for="Option1Text" class="form-control" />
        <span asp-validation-for="Option1Text" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Option2Text">Option 2</label>
        <input asp-for="Option2Text" class="form-control" />
        <span asp-validation-for="Option2Text" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Option3Text">Option 3</label>
        <input asp-for="Option3Text" class="form-control" />
        <span asp-validation-for="Option3Text" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Create Poll</button>
</form>

